{% extends 'index.html.twig' %}

{% block title %} About Me - Doncredas {% endblock %}

{% block main %}
    <img class="pull-left img-thumbnail" alt="profile" src="{{ app.request.basepath }}/img/profile.jpg" style="margin-right: 10px; width: 175px; height: 200px;">
    <p>
        Hi, my name is <strong>AMEGBLEAME Komlanvi Antonio-Credo</strong> I am a Computer Engineering Student at the University of Calabria (Italy) and a Freelance Web Developer.
        I am very passionate about Software Engineering and specifically focused on Web Software.
    </p>
    <p>
        On my free time I create responsive websites (landind pages and small/medium size websites) and web application components
        (jquery plugins, php scripts etc...) and fix bugs and errors in code on Fiverr.
        I'm currently a "Level 2 Seller" with 5 stars rating. You can check by clicking "Check my Gig" on the right sidebar under the photo and don't hesitate
        to place an order :)
    </p>
    <p>
        You can reach me via my <a target="_blank" href="https://twitter.com/doncredas">Twitter</a> account
        or via my <a target="_blank" href="https://it.linkedin.com/in/doncredas">LinkedIn</a> account.
    </p>
{% endblock %}