{% extends 'layout.html.twig' %}

{% block jumbotron %}
<div class="jumbotron" style="padding-bottom: 0; text-align: center;">
    <div class="container">
        <div class="col-md-5">
            <div class="abcard hovercard">
                <div class="avatar">
                    <img alt="profile" src="{{ app.request.basepath }}/img/profile.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a href="#">Amegbleame Komlanvi AC</a>
                    </div>
                    <div class="desc">Computer Engineering student</div>
                    <div class="desc">Junior PHP Developer</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm btn-costume"
                       href="https://twitter.com/doncredas" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-primary btn-sm btn-costume" rel="publisher"
                       href="https://it.linkedin.com/in/doncredas/" target="_blank">
                        <i class="fa fa-linkedin">
                        </i>
                    </a>
                    <a class="btn btn-primary btn-sm btn-costume" rel="publisher"
                       href="https://www.facebook.com/doncredas" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm btn-costume" rel="publisher"
                       href="https://github.com/doncredas" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h1>Doncredas</h1>
            <p>Doncredas Personal Home Page (PHP)</p>
            <p>My dream: Become a Full-Stack Web Software Engineer</p>
            <p><a class="btn btn-lg btn-primary" href="{{ path('blog_home_page') }}">Blog</a></p>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="row">
        <h1 style="color: #357ebd; font-size: 100px; text-align: center;">
            WELCOME
        </h1>
    </div>
{% endblock %}

{% block quote %}
{% endblock %}