{% extends 'layout.html.twig' %}
{% block content %}
    {% for article in articles %}
        <article>
            <h2><a class="titreLink" href="{{ app.request.basepath }}/article/{{ article.id }}">{{ article.title }}</a> </h2>
            <p> {{ article.content }}</p>
        </article>
    {% endfor %}
{% endblock %}