<div class='row'>
    <div class='col-md-offset-2 col-md-8'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

                <!-- Quote 1 -->
                <div class="item active">
                    <blockquote>
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <img class="img-circle" src="{{ app.request.basepath }}/img/profile.jpg" style="width: 100px;height:100px;">
                            </div>
                            <div class="col-sm-9">
                                <p>Ma vie est le reflet de mes pensées</p>
                                <small>Quelqu'un de fameux</small>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <img class="img-circle" src="{{ app.request.basepath }}/img/profile.jpg" style="width: 100px;height:100px;">
                            </div>
                            <div class="col-sm-9">
                                <p>No More Time To Waist</p>
                                <small>Someone famous</small>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <img class="img-circle" src="{{ app.request.basepath }}/img/profile.jpg" style="width: 100px;height:100px;">
                            </div>
                            <div class="col-sm-9">
                                <p>Non è perché le cose sono difficili che non osiamo, è perché non osiamo che sono difficili.</p>
                                <small>Qualcuno di famoso</small>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>

            <!-- Carousel Buttons Next/Prev -->
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</div>